<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<!--  Reconhecer anotacao de @Transactional -->
	<tx:annotation-driven/>
	<context:component-scan base-package="br.com.fabricadeprogramador.dao"/>
	
	<beans>
	
		<!--  Configuracoes da conexao JDBC com Banco de Dados -->
		<bean id="ds1" class="org.apache.commons.dbcp.BasicDataSource">
				<property name="driverClassName" value="org.postgresql.Driver"/>
				<property name="url" value="jdbc:postgresql://localhost:5432/javaweb2"/>
				<property name="username" value="postgres"/>
				<property name="password" value="postgres"/>
		</bean>
		
		
		
		<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" >
			<property name="dataSource" ref="ds1"/>
			<property name="persistenceUnitName" value="javaweb2"/>
			<property name="jpaVendorAdapter" >
			
				<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
					<property name="generateDdl" value="true"/>
					<property name="showSql" value="true"/>
					<property name="databasePlatform" value="org.hibernate.dialect.PostgreSQLDialect"/>
				</bean>
			</property>
			
		</bean>
	
		<!--   Controle de Transacoes -->
		<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
			<property name="entityManagerFactory" ref="entityManagerFactory"/>
		</bean>
	
		<!-- <bean id="usu" class="br.com.fabricadeprogramador.entidade.Usuario"> 
			<property name="nome" value="JAO"></property>
		</bean>
		<bean id="est" class="br.com.fabricadeprogramador.entidade.Estado"> </bean>
		 -->
	</beans>




</beans>
